### 数据清洗基础

#### 1.加载数据集

In [ ]:
import pandas as pd
data = pd.read_csv('example.csv')

#### 2.检查数据

In [ ]:
data.head() # 打印前五行
data.columnname.describe() # 查看一列的基本信息
data['columnname'] # 选择一列
data['columnname'][:n] # 选择一列的前几行数据
data[['column1','column2']] # 选择多列
data[data[['columnname'] > condition]] #Where条件过滤

#### 3.1 处理缺失数据-添加默认值

In [ ]:
# 填补空字符串""
data.contry = data.country.fillna('')

# 填补平均值
data.duration = data.duration.fillna(data.duration.mean())

#### 3.2 处理缺失数据-删除不完整的行

In [ ]:
# 删除任何包含NA的值
data.dropna()

# 删除一整行值都为NA的行
data.dropna(how = 'all')

# 删除非缺失值（有效值）数量小于某个阈值的一行
data.drop(thresh = 5)

# 删除含有特定列中缺失值的行（不想要不知道/必须知道的数据缺失了）
data.dropna(subset =  ['title_year'])

#### 3.3处理缺失数据-删除不完整的列

在行的基础上使用axis=1的参数

###### 注意：drop方法用来删除指定行/列，dropna用于删除含有缺失值的行/列

In [ ]:
# 删除一整列都为NA的列
data.drop(axis = 1, how = 'all')

# 删除任何包含空值的列
data.drop(axis = 1, how = 'any')

# 删除非缺失值（有效值）数量小于某个阈值的一列
data.drop(thresh = 5)

#### 4.规范化数据类型

In [ ]:
data = pd.read_csv('example.csv', dtype={'duration': int})
data = pd.read_csv('example.csv', dtype={'title_year': str})

#### 5.必要变化
- 错别字
- 英文单词大小写不统一
- 额外空格

In [ ]:
data['movie_title'].str.upper()
data['movie_title'].str.strip()

#### 6.重命名列名

In [ ]:
data.rename(columns = {'title_year':'release_data', 'movie_facebook_likes':'facebook_likes'},inplace=True)

#### 7.保存结果

In [ ]:
data.to_csv('cleanfile.csv',encoding='utf-8')

### 二、清洗脏数据

#### 问题1：没有列头

In [ ]:
import pandas as pd
column_names = ['id', 'name', 'age', 'weight','m0006','m0612','m1218','f0006','f0612','f1218']
df = pd.read_csv('example.csv', names = column_names)

#### 问题2：一个列有多个参数

In [ ]:
# 切分名字，删除源数据列
df[['first_name','last_name']] = df['name'].str.split(expand = True)
df.drop('name',axis=1,inplace=True)

#### 问题3：列数据的单位不统一

In [ ]:
# 获取 weight 数据列中单位为 lbs 的数据
rows_with_lbs = df['weight'].str.contains('lbs').fillna(False)

# 将 lbs 的数据转换为 kgs 数据
for i,lbs_row in df[rows_with_lbs].iterrows(): #对于row_with_lbs为true的项
    weight = int(float(lbs_row['weight'][:-3]) / 2.2)
    df.at[i,'weight'] = '{}kgs'.format(weight)

#### 问题4：缺失值

常见处理方法：

- 删：删除数据缺失记录
- 赝：使用合法的初始值替换，数值类型可以使用 0，字符串可以使用空字符串“”
- 均值：使用当前列的均值
- 高频：使用当前列出现频率最高的数据
- 源头优化

In [ ]:
# 删除
data.dropna() 

# 初始值替换
data.fillna(0,inplace=True)
data.fillna("",inplace=True)

# 使用当前列均值
data['column_name'].fillna(data['column_name'].mean(),inplace=True)

# 使用当前列出现频率最高的数据
most_frequent = data['column_name'].mode()[0]
data['column_name'].fiina(most_frequent, inplace=True)

#### 问题5：空行

In [ ]:
df.dropna(how='all',inplace=True)

#### 问题6：重复数据

In [ ]:
# 删除重复数据行 drop_duplicates()
# 基于指定的列（first_name和last_name都需要相同）
df.drop_duplicates(['first_name','last_name'],inplace=True)

#### 问题7：非ASCII字符

In [ ]:
# 删除非ASCII字符
df['first_name'].replace({r'[^\x00-\x7F]+':''},regex=True,inplace=True)
df['last_name'].replace({r'[^\x00-\x7F]+':''},regex=True,inplace=True)

#### 问题8：有些列头应该是数据，而不应该是列名参数

In [ ]:
# 切分 sex_hour 列为 sex 列和 hour 列
sorted_columns = ['id','age','weight','first_name','last_name']
df = pd.melt(df,
id_vars=sorted_columns,var_name='sex_hour',value_name='puls_rate').sort_values(sorted_columns)
df[['sex','hour']] = df['sex_hour'].apply(lambda x:pd.Series(([x[:1],'{}-{}'.format(x[1:3],x[3:])])))[[0,1]]
df.drop('sex_hour', axis=1, inplace=True)

# 删除没有心率的数据
row_with_dashes = df['puls_rate'].str.contains('-').fillna(False)
df.drop(df[row_with_dashes].index,
inplace=True)

In [ ]:
# 重置索引
df = df.reset_index(drop=True)

### 三、实例

In [2]:
import pandas as pd
df = pd.read_csv('Artworks.csv').head(100)
df.head(10)

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjUyNzc3MCJd...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjUyNzM3NCJd...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjUyNzM3NSJd...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjUyNzQ3NCJd...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjUyNzQ3NSJd...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN
5,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photograph,...,http://www.moma.org/media/W1siZiIsIjUyNzUyMCJd...,NaN,NaN,NaN,35.6000,NaN,NaN,45.7000,NaN,NaN
6,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photographs,...,http://www.moma.org/media/W1siZiIsIjUyNzUyMyJd...,NaN,NaN,NaN,35.6000,NaN,NaN,45.7000,NaN,NaN
7,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photograph,...,NaN,NaN,NaN,NaN,35.6000,NaN,NaN,45.7000,NaN,NaN
8,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photograph,...,http://www.moma.org/media/W1siZiIsIjUyNzUyMSJd...,NaN,NaN,NaN,35.6000,NaN,NaN,45.7000,NaN,NaN
9,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1976-77,Gelatin silver photograph,...,http://www.moma.org/media/W1siZiIsIjUyNzUyMiJd...,NaN,NaN,NaN,35.6000,NaN,NaN,45.7000,NaN,NaN

#### 3.1 统计日期数据

In [3]:
df['Date'].value_counts()

Date
1976-77    25
1980-81    15
1979       12
Unknown     7
1980        5
1978        5
1917        5
1923        4
1935        3
1903        2
1987        2
1974        1
1936        1
1930        1
c. 1917     1
n.d.        1
1896        1
1986        1
1984        1
1975        1
1918        1
1906        1
1905        1
1900        1
1968        1
1970        1
Name: count, dtype: int64

##### 日期存在的问题
` 问题一，时间范围（1976-77）`

` 问题二，估计（c. 1917，1917 年前后）`

` 问题三，缺失数据（Unknown）`

` 问题四，无意义数据（n.d.）`

In [6]:
# 问题1
rows_with_dashes = df['Date'].str.contains('-').fillna(False)
for i, dash in df[rows_with_dashes].iterrows():
    df.at[i,'Date'] = dash['Date'][0:4]

df['Date'].value_counts()

Date
1976       25
1980       20
1979       12
Unknown     7
1978        5
1917        5
1923        4
1935        3
1903        2
1987        2
1974        1
1936        1
1930        1
c. 1917     1
n.d.        1
1896        1
1986        1
1984        1
1975        1
1918        1
1906        1
1905        1
1900        1
1968        1
1970        1
Name: count, dtype: int64

In [8]:
# 处理问题2
rows_with_cs = df['Date'].str.contains('c').fillna(False)
for i, row in df[rows_with_cs].iterrows():
    df.at[i,'Date'] = row['Date'][-4:]
    
df[rows_with_cs]

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
78,"Villa Snellman, Djursholm, Sweden, Elevation o...",Erik Gunnar Asplund,27,"(Swedish, 1885–1940)",(Swedish),(1885),(1940),(Male),1917,Graphite and crayon on tracing paper mounted o...,...,http://www.moma.org/media/W1siZiIsIjUyNzA5NCJd...,NaN,NaN,NaN,23.2,NaN,NaN,34.9,NaN,NaN

In [9]:
# 问题3/4:将数据赋值成初始值0
df['Date'] = df['Date'].replace('Unknown','0',regex=True)
df['Date'] = df['Date'].replace('n.d.','0',regex=True)
df['Date']

0     1896
1     1987
2     1903
3     1980
4     1903
      ...
95    1936
96       0
97    1935
98    1935
99    1935
Name: Date, Length: 100, dtype: object